body {
    font-family: Arial;
    text-align: center;
    background: #111;
    color: white;
}

nav {
    background: black;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

#streakBox {
    margin-top: 50px;
    padding: 20px;
    border: 2px solid white;
    display: inline-block;
}

button {
    padding: 10px;
    margin: 5px;
}